{% load crispy_forms_tags %}
<html>
<body>
    <h2>Add New Job</h2>
    <a href="/">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            {{ form | crispy }}
        </fieldset>
        <button type="submit" value="Add">Add</button>
    </form>
</body>
</html>

